<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Gestione conti correnti</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Gestione Conti Correnti</h1>
			<a class="btn btn-secondary" href="./">Torna indietro </a>	
			<a class="btn btn-primary" th:href="@{/gestioneCc/formCc}">Inserisci nuovo utente</a>		
			<h3>Lista conti correnti</h3>
			
			 
			
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Saldo</th>
						<th>Intestatario</th>
						<th>Numero conto</th>						
						<th>Filiale</th>
					</tr>
				</thead> 
				<tbody>
					
					<!-- struttura da iterare per ogni CC -->
					<tr th:each="cc : ${listaCc}">
						<td th:text="${cc.id}"></td>
						<td th:text="${cc.giacenza}"></td> 
						<td th:text="${cc.intestatario.nome}"></td> 
						<td th:text="${cc.numeroConto}"></td> 
						<td th:text="${cc.filiale.name}"></td> 
						
						<td>
							<a th:href="@{/gestioneCc/formCc(id=${cc.id})}" class="btn btn-info">Modifica</a>
							<a th:href="@{/gestioneCc/delete(id=${cc.id})}" class="btn btn-danger">Elimina</a>
						</td>
					</tr>
				
				
				</tbody>
				
			</table>
			
		</div>
	</body>
</html>